. pull-quote {
    font-style: italic;
    font-size: 1.5rem;
    margin: 2rem auto;
    padding: 1rem 2rem;
    max-width: 600px;
    border-left: 4px solid #ccc;}

. h1 {
    align-items: center;

}

.navStyle {
    background-color: #000;
    color: #fff;
    height: 50px;
    padding: 12px;
    text-align: center;
}
.navStyle a {
    color: #f4f4f4;
    text-decoration: none;
}
.navStyle a:hover {
    color: #009cff;
}
.navItem {
    margin: 0 25px 0 25px;
}
.bodyCopy {
    padding: 50px 0 0 0;
}
.footerStyle {
    background-color: #009cff;
    color: #fff;
    padding: 12px;
    height: 50px;
    text-align: center;
    margin-top: 50px;
}
.rtt {
    text-align: center;
    margin-top: 50px;
}
.rtt a {
    color: #009cff;
    text-decoration: none;
    font-weight: bold;
}
.rtt a:hover {
    color: #09639c;
}

.callout{
    background-color: #f4f4f4;
}

.responsive-embed{
    background-color: #f4f4f4;
}

